h1 {
    color:brown;
    font-size: 100px;
    font-weight:bolder;
    background-color: blueviolet;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    color:red;
    font-size: 50px;
    background-color: aqua;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
    padding: 10px; 
}

li {
    padding: 20px;
    margin: 10px;
    background-color: chartreuse;
}

.card {
    width:500px;
    margin: 0 auto;
}